*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.firstcenter{
    text-align: center;
}
.container{
    margin-top: 10px;
    /* border:1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items{
    max-width: 300px;
    width: 100%;
    padding: 10px 10px;
    background: #893535;
    color: white;
    border-radius: 16px;
    margin-bottom: 10px;
}